@page
@model lab_45_asp_core_demo.Pages.LeoModel
@{
}

<h1>I am Leo from Sparta Global</h1>

@*Razor Syntax*@

<ul>
    @foreach(var item in @LeoModel.items)
    {
        <li><h1>@item</h1></li>
    }
</ul>